.navBtns{
    padding: 0 16px;
    -webkit-tap-highlight-color: rgb(0,0,0,0);
}
.button{
    border: 0;
    background-color: var(--sidenav-black);
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border-radius: 25px;
    transition: all ease-in-out .2s;
}
.button:active{
    transform: scale(.96);
    filter: brightness(.5);
    transition: all .25s ease;
}
.button svg{
    color: var(--text-gray);
}
.button p{
    color: var(--text-gray);
    margin: 0;
    margin-left: 16px;
}
.button:hover svg,
.button:hover p{
    color: var(--text-white);
}
.button:hover {
    background-color: rgb(50,50,50,.5);
}

@media screen and (max-width:640px) {
    .navBtns{
        display: flex;
        justify-content: space-around;
        padding: 0px 8px; /* 4px 8px */
        border-radius: 8px;
    }
    .button{
        background: transparent;
        padding: 8px 8px; /* none */
        border-radius: 25px;
        flex-direction: column;
        height: auto;
        width: 70px;  /* 90 */
    }
    .button svg{
        font-size: 25px; /* 21px */
    }
    .button p{
        display: none;
    }
} /* 640px */

/* @media (orientation: landscape){ */
/* @media screen and (max-width: 640px) {
    .navBtns{
        display: grid;
        justify-content: space-around;
        padding: 0px 8px;
        border-radius: 8px;
    }
    .button{
        display: flex;
        background: transparent;
        padding: 8px 8px;
        border-radius: 25px;
        flex-direction: column;
        height: auto;
        width: 100px;
    }
} */

/* @media (orientation: portrait){
    .navBtns{
        display: flex;
    }
} */

/* standalone */
@media (display-mode: standalone){
    .navBtns{
        display: flex;
        justify-content: space-around;
        padding: 8px 8px;
        margin-bottom: 15px;
    }
    .button{
        padding: 5px 16px;
        border-radius: 8px;
    }
    .button svg{
        font-size: 25px; /* 21px */
    }
    .button p{
        display: none;
        /* color: #000;
        margin: 0;
        margin-left: 16px; */
    }
}

@media only screen and (max-width: 920px) and (min-width: 600px) {
    .navBtns{
        padding: 0 0;
        margin-left: 0rem;
    }
    .button{
        padding: 0px 8px;
        width: auto;
        margin-left: 16px;
        width: 180px;
    }
    .button svg{
        font-size: 24px;
        padding: .5rem;
        margin: 0;
        margin-left: 1rem;
        /* background-color: rgb(255,255,255,0); */
        /* border-radius: 25px; */
    }
    /* .button p{
        display: none;
    } */
}




/* @media screen and (max-width: 1920px){
    body{
        background-color: #000000;
    }
}
@media screen and (max-width: 1280px){
    body{
        background-color: #000000;
    }
}
@media screen and (max-width: 800px){
    body{
        background-color: #000000;
    }
}
@media screen and (max-width: 480px){
    body{
        background-color: #000000;
    }
} */




/* STANDALONE – LANDSCAPE HORIZONTAL */
@media only screen  and (max-height: 581px)  and (min-width: 767px)  and (display-mode: standalone)  {
    .navBtns{
        position: absolute;
        display: block;
    }
  }
  