.PlaylistCardBBox{
    position: relative;
    /* padding: 0px 16px; */
}
.PlaylistCardB{
    position: relative;
    height: 80px;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 8px;
    transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    display: grid;
    grid-template-columns: 80px 1fr;
    /* margin-right: 16px; */
}
@media (orientation: landscape){
    .PlaylistCardB{
        grid-row-gap: 16px;
        gap: 16px;
    }
}
.ImgBox{
    width: 80px;
    height: 80px;
}
.ImgBox img{
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    object-fit: cover;
}
.Title{
    /* display: block; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 12px;
    /* justify-content: space-between; */
    padding: 0px 16px;
    color: #fff;
}
.artist{
    color: rgb(255,255,255,.5);
}
.Title p {
    -webkit-line-clamp: 2;
    word-break: break-word;
    margin: .1rem;
}
.IconBox{
    display: inline-flex;
    opacity: 0;
    transition: all .3s ease;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    z-index: 2;
    border-radius: 500px;
    position: absolute;
    right: 16px;
    top: calc(50% - 20px);
}
.IconBox div{
    background-color: #066eff;
    height: 40px;
    width: 40px;
}
.IconBox button{
    height: 40px;
    width: 40px;
    -webkit-transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
    transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
    transition: transform 33ms cubic-bezier(.3,0,0,1);
    transition: transform 33ms cubic-bezier(.3,0,0,1),-webkit-transform 33ms cubic-bezier(.3,0,0,1);
}
/* @media (orientation: landscape){
    .IconBox button{
        height: 40px;
        width: 40px;
        -webkit-transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
        transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
        transition: transform 33ms cubic-bezier(.3,0,0,1);
        transition: transform 33ms cubic-bezier(.3,0,0,1),-webkit-transform 33ms cubic-bezier(.3,0,0,1);
    }
} */
.ActiveIconBox{
    opacity: 1;
}
.IconBox button svg{
    fill: #fff !important;
    scale: .6;
}
.IconBox button:hover{
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
.PlaylistCardB:hover {
    background: rgb(100, 160, 255, .2);  /*    6, 110, 255, .2               hsla(0,0%,100%,.2) */
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
}
@media (orientation:portrait){
    .PlaylistCardB:active {
        background: rgb(100, 160, 255, .2);  /*    6, 110, 255, .2               hsla(0,0%,100%,.2) */
        -webkit-backdrop-filter: blur(60px);
        backdrop-filter: blur(60px);
    }
}
@media (display-mode: standalone){
    .PlaylistCardB:active {
        background: rgb(100, 160, 255, .2);  /*    6, 110, 255, .2               hsla(0,0%,100%,.2) */
        -webkit-backdrop-filter: blur(60px);
        backdrop-filter: blur(60px);
    }
}

.PlaylistCardBBox:hover .IconBox{
    opacity: 1;
}