.PlaylistCardABox{
    position: relative;
    /* width: 160px; */  /* none */
    /* border-radius: 15px; */
    margin-right: 1.5rem; /* none */
}

@media (orientation: portrait){
    .PlaylistCardABox{
        height: 100%;
        position: relative;
        /* border-radius: 15px; */
        margin-right: 0;
        margin-left: 1rem;
    }
}

.PlaylistCardA{
    position: relative;
    height: 100%;  /* 80px */
    /* background-color: #000000; */ /* hsla(0,0%,100%,.1) */
    border-radius: 8px;
    /* transition: background-color .3s ease; */ /* none */
    transition: all .4s ease;
    /* -webkit-transition: background-color .3s ease; */
    /* display: grid;
    grid-template-columns: 80px 1fr; */
}


/* .PlaylistCardA:active{
    transform: scale(.98);
    filter: brightness(.5);
    transition: all .6s ease;
} */

.PlaylistCardA:active > .PlaylistCardABox p {
    display: none;
    pointer-events: none;
    opacity: .1;
}
@media (orientation: landscape){
    .PlaylistCardA:hover{
        transform: scale(.98);
        /* position: relative; */
        /* background-color: rgb(6, 110, 255, .8); */
    }
    .PlaylistCardA:hover img{
        filter: brightness(.5);
        transition: all .6s ease;
    }
}
@media (orientation: portrait){
    .PlaylistCardA:active{
        transform: scale(.96);
        filter: brightness(.5) blur(4px);
        transition: all .25s ease;
    }
}



/* ----- sacudida al hover ------ */
/* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.PlaylistCardA:hover,
.PlaylistCardA:active {
    animation: bounce 1s;
} */



/* ----   opacar las siguientes   ---- */
/* .PlaylistCardABox:hover ~ * {
    opacity: 0.2;
} */


.ImgBox{
    width: 140px;
    height: auto; /* 220px */
}
.ImgBox img{
    width: 100%;
    height: 98%;  /* 100% */
    border-radius: 50% 50% 10% 50%; /* 4px */
}
.Title{
    position: absolute; /* none */
    display: block;  /* flex */
    width: 100%;
    height: 2.5rem;
    /* background: linear-gradient(-4deg, rgb(10,10,10, .7), rgb(10,10,10, .3), rgb(0,0,0, .3), rgb(0,0,0,0), rgb(0,0,0,0)); */
    /* top: calc(100% - 2.5rem); */
    bottom: 0; 
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 16px; */
    color: #f1f1f1;
    /* font-family: 'Dewi-light'; */
}
.Title p {
    max-width: 90%;
    position: absolute;  /* none */
    font-family: "dewi-black";
    bottom: 0;
    right: 0;
    -webkit-line-clamp: 3;
    word-break: break-word;

    font-size: 12px;
    padding: .3rem .5rem 0.5rem 0.5rem; 
    line-height: 14px; /* 16 */
    margin: 0;
    text-shadow: rgb(0,0,0, .8) 4px 1px 6px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.IconBox{
    display: inline-flex;
    opacity: 0;
    transition: all .3s ease;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    z-index: 2;
    border-radius: 500px;
    position: absolute;
    right: 6px; /* 16px */
    top: calc(70% - 18px); /* 85% - 18px */
    cursor: pointer;
}
.IconBox div{
    background-color: #066eff;
    height: 30px;
    width: 30px; /* 40px */
    border: solid 3px rgb(0,0,0, .3);
}
.IconBox button{
    height: 13px; /* 20px */
    width: 13px;
    margin: 9px;
    -webkit-transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
    transition: -webkit-transform 33ms cubic-bezier(.3,0,0,1);
    transition: transform 33ms cubic-bezier(.3,0,0,1);
    transition: transform 33ms cubic-bezier(.3,0,0,1),-webkit-transform 33ms cubic-bezier(.3,0,0,1);
}
.ActiveIconBox{
    opacity: 1;
}
.IconBox button svg{
    fill: #fff !important;
}
.IconBox button:hover{
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}
/* .PlaylistCardA:hover {
    background: #000000;
} */
.PlaylistCardABox:hover .IconBox{
    opacity: 1;
}


/* @media screen and (orientation: landscape) and (max-width: 1080px) {
    .PlaylistCardA{
        width: calc(100% - 0px);
        padding-left: 0px;
    }
} */

@media (orientation: landscape){
    .Title p {
        bottom: -21px;
        font-size: 12px;
    }
    .IconBox{
        display: inline-flex;
        opacity: 0;
        transition: all .3s ease;
        box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
        z-index: 2;
        border-radius: 500px;
        position: absolute;
        right: 6px;
        top: calc(70% - 2px); /* 85% - 18px */
        cursor: pointer;
    }
}