.terms {
  width: 100%;
  /* background-color: bisque; */
  color: #f1f1f1;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* O la altura que prefieras */
  overflow-y: auto;
  text-align: center;
}

.terms h1 {
  font-size: 16px;
  margin-top: 10vh;
  margin-bottom: 20px;
}

.terms p {
  max-width: 100%;
  /* margin: 0 2rem; */
  height: auto;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  word-wrap: normal;
  display: block;  /* -webkit-box */
    /* -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: unset;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden; */
}

@media (orientation: landscape){
  .terms p {
    margin: 0 20%;
    margin-bottom: 0rem;
  }
}
@media (orientation: portrait){
  .terms{
    padding-top: 4rem;
  }
  .terms p {
    margin: 0 1.5rem;
    margin-bottom: 18rem;
  }
}
@media (display-mode: standalone){
  .terms p {
    margin-bottom: 14rem;
  }
}