.Home{
    overflow-y: scroll;
    background: transparent;
    position: relative;
    /* margin-bottom: 95px; */
    padding-bottom: 16px;
}
.HoverBg{
    height: 950px; /* 332 */
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.6)),to(#000000));
    background-image: linear-gradient(rgba(0,0,0,.6),#000000);
    -webkit-transition: background 1s ease;
    transition: background 1s ease;

    background-color: var(--hover-home-bg);
}
.Bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0px;
    background: #000000; /* 121212 */
    z-index: -2;
}
.Content{
    padding: 0 32px;
}
.Content section:not(:first-child) {
    margin-top: 10px; /* 40px */
    margin-bottom: 40px; /* 40px */
}
.SectionTitle {
    margin-bottom: 10px; /* 22px */
}
.SectionTitle h1,
.SectionTitle h2{
    margin: 0;
    color: #f1f1f1;
    font-family: "dewi-expand";
    /* letter-spacing: 2px;
    font-size: 18px; */
}
.SectionCards{
    display: flex;  /* grid */
    width: 100%;  /* none */
    height: calc(225px + 2rem);  /* ex auto     -  220px */
    overflow-x: auto; /* none */
}
.SectionCardsA{
    display: flex;
    width: 100%;
    height: 165px; /* auto */
    overflow-x: auto;
    padding-bottom: .8rem;
}
.SectionCardsG{
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 100%;
    height: auto; /* 165 */
    overflow-x: auto;
}
/* new */
.SectionCardsB{
    display: grid;  /* grid */
    padding: 0 16px;
    max-height: 176px; /* 176px */
    /* height: auto; */  /* 220px */
    grid-template-columns: repeat(auto-fill,minmax(var(--small-cards-column-width),1fr));
    grid-row-gap: 16px;
    row-gap: 16px;
    gap: 16px;
    overflow: hidden;
}
.SectionCardsMedium{
    display: grid;
    grid-column-gap: 24px;
    column-gap: 24px;
    grid-template-columns: repeat(auto-fill,minmax(var(--cards-column-width),1fr));
    overflow-y: hidden;
    grid-auto-rows: 0;
    grid-template-rows: 1fr;
}
.SectionTitle b{
    font-size: 24px;
    /* color: #066EFF; */
    font-family: 'BICRO'; /* dewi-black */
    font-style: normal;
    letter-spacing: .5px;
    color: var(--hover-home-bg);
    margin: 0 0rem;
    margin-bottom: 6px;
    padding: 0;
}

.SectionCorp{
    color: #ffffff;
    margin-bottom: 2.5rem;
}
.SectionCorp b{
    color: var(--version);
    font-size: 10px;
}
.SectionCred{
    color: rgb(255,255,255, .45);
    font-family: 'dewi-expand';
    font-size: 13px;
    margin-top: 3rem;
    text-align: center;
    line-height: 13px;
}

.SectionTerms{
    text-align: center;
    margin: 1rem 32px;
    display: grid;
    text-transform: uppercase;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    row-gap: .2rem;
}
.SectionTermsTitle{
    font-size: 13px;
    text-decoration: underline;
    color: #f1f1f1;
    padding-bottom: .5rem;
}
.SectionTermsItem{
    font-size: 9px;
    color: #f1f1f1; /* 8a8a8a */
}
.SectionVersionItem{
    font-size: 13px;
    color: #f1f1f1; /* 8a8a8a */

    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    z-index: 99;
}
@media screen and (max-width: 640px) {
    .SectionCardsMedium{
        grid-gap: 16px;
        overflow-y: auto;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .Content{
        padding: 0;
        padding-bottom: 30vh; /* 200px */
    }
    .SectionTitle, .SectionCardsMedium{
        padding: 0 16px;
    }
}
@media (orientation:landscape){
    .SectionTitle b{
        font-size: 38px;
        color: var(--hover-home-bg);
    }
    .SectionCorp{
        color: #ffffff;
        margin-bottom: 8.5rem;
    }
    .SectionTerms{
        display: none;
    }
    .Content{
        margin-bottom: 4rem;
    }
}
@media (orientation:portrait){
    .Content{
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 36vh; /* 30vh   200px */
    }
}
@media (display-mode: standalone){
    .Content{
        padding-top: 6rem;
        padding-bottom: 25vh;
    }
}


/* no-select */
html, body {
    /* position: fixed; */
    margin: 0;
    overflow: hidden;
    overscroll-behavior: contain;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); /* .8 */
  }
  @media screen and (display-mode: standalone){
    html, body {
    overscroll-behavior: contain;
    overscroll-behavior-x: contain;
    overscroll-behavior-y: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
    -webkit-touch-callout: none
    }
  }



  @media only screen and (max-width: 920px) and (min-width: 500px){
    .SectionTitle h1,
    .SectionTitle h2{
    padding-left: 16px;
    }
    .Content{
        padding: 0 0;
    }
    /* .SectionTitle, .SectionCardsMedium{
        padding: 0 48px;
    }
    .SectionCardsMedium{
        grid-gap: 16px;
        overflow-y: auto;
        grid-auto-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .Content{
        padding-bottom: 64px;
        padding-top: 60px;
    }
    .SectionCards{
        width: calc(100% - 48px);
        padding-left: 48px;
    }
    .MobileNav{
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        height: 8.5vh;
        background: none;
        backdrop-filter: none;
    } */
    /* .Content section:not(:first-child) {
        margin-left: 32px;
    } */
  }

  .socialBox{
    position: absolute;
    margin: 4rem 25px;
    right: 0;
    margin-top: 9rem;
    z-index: 1;
    font-size: 45px;
    color: #cccccc;
  }
  @media (orientation: landscape){
    .socialBox{
        display: none;
    }
  }

  @media screen and (orientation: landscape) and (max-width: 1080px) {
    .Content{
        padding-top: 0;
    }
    .Content section:not(:first-child) {
        margin-left: 0px;
    }
    .SectionTitle{
        padding: 0 0px;
    }
    .SectionCards{
        width: calc(100% - 0px);
        padding-left: 0px;
    } 
    .SectionCardsB{
        display: grid;  /* grid */
        padding: 0 0px;
        max-height: 176px;
        grid-template-columns: repeat(auto-fill,minmax(var(--small-cards-column-width),1fr));
        grid-row-gap: 16px;
        row-gap: 16px;
        gap: 16px;
        overflow: hidden;
    }
    .SectionCardsMedium{
        padding: 0 0;
        margin-bottom: 1rem;
    }
  }





  /* BOTON DONACION */
/* .BtnContainer{
    width: 10%;
} */
.ProfileBtn{
    display: grid;
    grid-template-columns: 35px 1fr;
    column-gap: .5rem;
    align-items: center;
    width: 70%;
    border: none;
    height: 60px; /* 52px */
    padding: 2px 35px;  /* 4px 20px */
    border-radius: 16px;
    /* background-color: #066EFF; */
    background-color: rgba(255,255,255,.95);
    /* color: #eef5ff; */
    color: #000000;
    margin: 2rem 0 0rem 15%;

    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease;
}
.ProfileBtn svg{
    font-size: 45px;
}
/* .ProfileBtn img{
    width: 100%;
    height: 100%;
} */
.ProfileBtn2{
    width: 80%;
    border: none;
    height: 70px;
    padding: 2px 10px;
    border-radius: 16px;
    background-color: rgba(0, 82, 197, 0.25);
    color: #2081ff;
    margin: 2rem 0 2rem 10%;
    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease;
    line-height: 14px;
}
.TextoProfileBtn2{
    font-size: 8px;
    color: #548ada;
}

.BannerDescripcion{
    width: 90%;
    border: none;
    height: 180px;
    padding: 2px 10px;
    border-radius: 16px;
    background-color: rgba(0, 82, 197, 0.25);
    color: #f1f1f1; /* 2081ff */
    margin: 2rem 0 2rem 5%;
    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 16px;
    transition: all .3s ease;
    border-radius: 16px;
    background-size: cover;
    background-image: url('./../image/burbuja.gif');
}
.TextoDescripcion{
    font-size: 16px;
    color: #8dd6d3;
}
.ProfileBtn:active{
    transform: scale(.92);
  }
.ProfileBtn2:active{
    transform: scale(.92);
  }

@media (orientation: landscape){
    .SectionCardsG{
        display: flex;
        margin-bottom: .5rem;
        margin-top: 0;
    }
    .ProfileBtn{
        display: none;
    }
    .ProfileBtn2{
        display: none;
    }

    .BannerDescripcion{
        height: 160px;
        font-size: 24px;
        background-image: none;
        color: #c0c0c0;
        background-color: rgb(6, 110, 255, .08); /* 255,255,255,  */
        cursor:auto;
    }
    .TextoDescripcion{
        font-size: 24px;
        color: #2081ff;
    }
}


@media screen and (orientation: portrait){
    .Home{
        overscroll-behavior: contain;
        overscroll-behavior-x: contain;
        overscroll-behavior-y: none;
    }
}
@media screen and (display-mode: standalone){
    .Home{
        overscroll-behavior: contain;
        overscroll-behavior-x: contain;
        overscroll-behavior-y: none;
    }
}









/* ============= MARQUEE =============== */
.SectionTitle2 {
    margin-bottom: 16px; /* 22px */
}
.SectionTitle2 h1,
.SectionTitle2 h2{
    margin: 0;
    color: #f1f1f1;
    font-family: "dewi-expand";
    /* letter-spacing: 2px;
    font-size: 18px; */
}

.SectionTitle2 b{
    font-size: 24px;
    /* color: #066EFF; */
    font-family: 'BICRO'; /* dewi-black */
    letter-spacing: .5px;
    color: var(--hover-home-bg);
    margin: 0 0rem;
    margin-bottom: 6px;
    padding: 0;
}


@keyframes marquee {
    0% { transform: translateX(12%); }
    100% { transform: translateX(-115%); }
  }
  
  .marquee {
    display: flex;
    justify-content: flex-start;
    /* overflow: hidden; */
    white-space: nowrap;
    animation: marquee 24s linear infinite;
    mask-image: linear-gradient(to left, transparent, black 0%, black 100%, transparent);
  }
  
  


  .SectionTitle2 {
    position: relative;
    overflow: hidden;
  }
  
  .SectionTitle2::before,
  .SectionTitle2::after {
    content: "";
    position: absolute;
    top: 0;
    width: 16px;
    height: 100%;
    z-index: 2;
  }
  
  /* .SectionTitle2::before {
    left: 0;
    background: linear-gradient(to right, rgb(0,0,0,0), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-kit-backdrop-filter: blur(20px);
  }
  
  .SectionTitle2::after {
    right: 0;
    background: linear-gradient(to left, rgb(0,0,0,0), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-kit-backdrop-filter: blur(20px);
  } */







/* STANDALONE – LANDSCAPE HORIZONTAL */
@media only screen  and (max-height: 581px)  and (min-width: 767px)  and (display-mode: standalone)  {
        .SectionTitle{
            display: none;
        }
        .Content{
            padding: 0 0px;
            padding-left: 48px;
        }
      }