.layout{
    display: grid;  /* flex */
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    /* overflow-y: hidden; */
    position: relative;
}
/* @media screen and (max-width: 640px) {
    .layout{
        grid-template-columns: 1fr;
    }
} */


.fallback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }