.iconButton{
    border: 0;
    background: transparent;
    width: 65px; /* 60px */
    height: 65px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconLike {
    width: 30px;
    height: 30px;
}
.iconButton svg{
    font-size: 34px;  /* 22px */
    fill: hsla(0,0%,100%,.7);
    color: hsla(0,0%,100%,.7);
}
.iconButton:hover svg{
    fill: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

@media (orientation: landscape){
    .iconButton{
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 920px) and (min-width: 500px){
    .iconButton{
        width: 45px;
        height: 45px;
    }
}

/* STANDALONE – LANDSCAPE HORIZONTAL */
@media only screen  and (max-height: 581px)  and (min-width: 767px)  and (display-mode: standalone)  {
    .iconButton svg{
        font-size: 24px;
        text-align: center;
        padding: 2px;
    }
}