
.container {
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 95vh; /* Ajusta la altura según sea necesario */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #82c3cc; */
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

.gameContainer {
    /* Estilos para el contenedor del juego */
    position: relative; /* Asegura que el contenedor del juego esté por encima del fondo */
    z-index: 0; /* Asegura que el contenedor del juego esté por encima del fondo */
}

/* MiniJuego.module.css */

/* html{
    background-color: #82c3cc;
    transition: all 0s ease;
} */

.gameContainer {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

.gameContainer iframe {
    border: none;
    width: 800px;
    height: 140vw; /* 600px */
}

@media (orientation:landscape){
    .gameContainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
    }
    .background {
        background-color: #000000;
        border: none;
    }
    .gameContainer iframe {
        border: none;
        width: 800px;
        height: 99vh; /* 600px */
    }
}
@media (orientation:portrait){
    .gameContainer {
        position: fixed;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .background{
        background-color: #82c3cc;
    }
}
@media (display-mode: standalone){
    .gameContainer {
        position: fixed;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .background{
        background-color: #82c3cc;
    }
}