.Topnav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 99;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
    height: 60px;
}

.rightButtons {
    display: flex;
    align-items: center;
}

.rightmostButton {
    margin-left: auto;
}

.installContainer {
    position: absolute;
    right: 8rem;
}

@media (orientation: landscape) {
    .installContainer {
        position: absolute;
        right: 6rem;
    }
}

.instalarBtn {
    min-width: 130px;
    max-width: 140px;
    border: none;
    height: 40px;
    padding: 4px 8px;
    margin: 0;
    border-radius: 16px;
    background-color: rgba(6, 110, 255, 1);
    color: #f1f1f1;
    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
}

.FlappyBtn {
    width: auto;
    min-width: 3rem;
    border: none;
    height: 40px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
    margin-left: .5rem;
}

/* .TitleBtn{
    width: 12rem;
    min-width: 3rem;
    border: none;
    height: 36px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    font-family: "BICRO";
    font-weight: 600;
    font-size: 19px;
    transition: all .3s ease;
    margin-left: .5rem;
} */

.ProfileBtn {
    width: auto;
    min-width: 3rem;
    border: none;
    height: 40px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .5);
    color: #ffffff;
    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
    margin: 0 .5rem;
    margin-right: 1rem;
}

.ProfileBtn:active {
    transform: scale(.92);
}

@media screen and (max-width: 640px) {
    .Topnav {
        position: fixed;
        height: 60px;
    }

    .Topnav div {
        /* height: 50px; */
        padding: 0px 0px; /* 0 8 */
    }

    .Topnav div nav {
        position: absolute;
        background: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        right: 0;
        margin: 8px 5rem 7px 4rem;
        padding: 0;
        display: grid;
        grid-template-columns: 158px 80px 100px 100px;
        overflow-x: scroll;
        border-radius: 25px;
    }
}

::-webkit-scrollbar {
    display: none;
}

@media (display-mode: standalone) {
    .Topnav div {
        /* height: 50px; */
        padding: 0px 0px; /* 0  8 */
        
    }

    .Topnav {
        padding-top: 42px;
        margin-bottom: 1rem;
        
    }

    .Topnav div nav {
        top: 42px; /* 38px */
        background-color: rgba(0, 0, 0, .5);
    }
}

@media only screen and (max-height: 581px) and (min-width: 767px) and (display-mode: standalone) {
    .Topnav div {
        height: 60px;
        padding: 0px 16px;
    }

    .Topnav {
        padding-top: 0px;
        margin-bottom: 0rem;
    }

    .Topnav div nav {
        top: 38px;
    }

    .SectionTitle {
        display: none;
    }
}

@media only screen and (max-width: 920px) and (min-width: 500px) {
    .Topnav div nav {
        margin: 7px 6rem 7px 260px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1080px) {
    .Topnav div nav {
        position: absolute;
        background: rgba(255, 255, 255, .15);
        left: 0;
        right: 0;
        margin: 7px 7rem 7px 7rem;
        padding: 0;
        display: grid;
        grid-template-columns: 158px 80px 100px 100px;
        overflow-x: scroll;
        border-radius: 25px;
    }
}

.TitleMix {
    font-family: 'Bicro';
    font-size: 22px;
    color: var(--hover-home-bg);
}



.FlappyBtn img{
    /* display: flex;
    position: relative;
    justify-content: center;
    align-items: center; */
    /* position: absolute; */
    display: flex;
    background: cover;
    width: 30px;
}

.marqueeContainer {
    /* position: relative; */
    display: flex;
    /* width: 100%; */
    width: 11.5rem;
    min-width: 8rem;
    border: none;
    height: 40px;
    padding: 0px 0px;  /* 4px 8px */
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    color: var(--hover-home-bg);
    font-family: "BICRO";
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease;
    padding-top: 10px;
    /* margin-left: .5rem; */
    overflow: hidden;
}
.fontDos{
    font-family: "dewi-expand";
    font-size: 16px;
}


/* SCROLL */
.Topnav {
    /* Estilos predeterminados */
    transition: background-color 0.3s ease;
    background-color: transparent; /* Color de fondo predeterminado */
}

.Topnav.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo al hacer scroll */
}



@media screen and (orientation: landscape){
    .marqueeContainer {
        /* position: relative; */
        display: flex;
        /* width: 100%; */
        width: 12rem;
        min-width: 8rem;
        border: none;
        height: 40px;
        padding: 0px 0px;  /* 4px 8px */
        border-radius: 16px;
        background-color: rgba(0, 0, 0, .5);
        justify-content: center;
        color: var(--hover-home-bg);
        font-family: "BICRO";
        font-weight: 600;
        font-size: 25px;
        transition: all .3s ease;
        /* padding-top: 10px; */
        /* margin-left: .5rem; */
        overflow: hidden;
    }
}