.Topnav{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 99;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* position: relative; */
}
.Topnav div{
    padding: 0px 32px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Topnav div div{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: auto;
}
.Topnav span {
    display: flex;
    align-items: center;
}
.installContainer{
    position: absolute;
    right: 7rem; /* 4.5 */
}
@media (orientation: portrait) {
    .installContainer:active{
        background-color: rgba(6, 110, 255,.8);
    }
}
@media (orientation: landscape) {
    .installContainer{
        position: absolute;
        right: 6rem;
    }
}
.instalarBtn{
    min-width: 130px;
    max-width: 140px;
    border: none;
    height: 36px;
    padding: 4px 8px;
    margin: 0 0; /* margin: 0 .5rem; */
    border-radius: 16px;
    background-color: rgba(6, 110, 255,1);
    color: #f1f1f1;
    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
}
.FlappyBtn{
    width: auto; /* 4rem */
    min-width: 3rem;
    border: none;
    height: 36px;
    padding: 4px 8px;
    border-radius: 16px;
    /* float: right; */
    background-color: rgba(0,0,0,.5);
    color: #fff;

    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
}
.ProfileBtn{
    width: auto; /* 4rem */
    min-width: 3rem;
    border: none;
    height: 36px;
    padding: 4px 8px;
    border-radius: 16px;
    background-color: rgba(0,0,0,.5);
    color: #ffffff;

    font-family: "dewi-expand";
    font-weight: 600;
    font-size: 15px;
    transition: all .3s ease;
}
.ProfileBtn:active{
    transform: scale(.92);
  }
@media screen and (max-width: 640px) {
    .Topnav{
        position: fixed;
        /* backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); */
        /* background-color: #121212; */  /* 121212 */
        height: 50px;
    }
    .Topnav div{
        height: 50px;
        padding: 0px 16px;
    }
    .Topnav div div{
        right: 0;
        /* padding: 8px 10px; */
    }
    .Topnav div nav{
        position: absolute;
        background: rgba(255,255,255,.15); /* 066EFF   rgba(0,0,0,1) */
        left: 0;
        right: 0;
        margin: 7px 6rem 7px 4rem;  /* 0 6rem 0 3rem */
        padding: 0;
 
        display: grid;
        grid-template-columns: 158px 80px 100px 100px;
        overflow-x: scroll;
        border-radius: 25px; /* 34% */
    }
}

::-webkit-scrollbar {
    display: none;
}


/* standalone */
@media (display-mode: standalone) {
    .Topnav div{
        height: 50px;
        padding: 0px 16px;
    }
    .Topnav{
        padding-top: 42px;
        margin-bottom: 1rem;
    }
    .Topnav div nav{
        top: 38px;
    } /* 38px */
}

/* STANDALONE – LANDSCAPE HORIZONTAL */
/* @media only screen and (min-device-height: 481px) and (max-device-width: 767px) {         and (display-mode: standalone)*/
    /*                  altura minima 481       acho maximo    */
@media only screen  and (max-height: 581px)  and (min-width: 767px)  and (display-mode: standalone)  {
    .Topnav div{
        height: 60px;
        padding: 0px 16px;
    }
    .Topnav{
        padding-top: 0px;
        margin-bottom: 0rem;
        /* backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px); */
    }
    .Topnav div nav{
        top:38px;
    }
    .SectionTitle{
        display: none;
    }
  }



  
@media only screen and (max-width: 920px) and (min-width: 500px) {
    .Topnav div nav{
        margin: 7px 6rem 7px 260px;
    }
}

@media screen and (orientation: landscape) and (max-width: 1080px) {
    .Topnav div nav{
        position: absolute;
        background: rgba(255,255,255,.15);
        left: 0;
        right: 0;
        margin: 7px 7rem 7px 7rem;
        padding: 0;
        display: grid;
        grid-template-columns: 158px 80px 100px 100px;
        overflow-x: scroll;
        border-radius: 25px;
    }
}

.TitleMix{
    font-family: 'Bicro';
    font-size: 22px;
    color: var(--hover-home-bg);
}










/* .Topnav {
    padding: 0.5rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.rightButtons {
    display: flex;
    align-items: center;
}

.FlappyBtn {
    margin-right: 0.5rem;
}

.rightmostButton {
    margin-left: auto;
} */

.FlappyBtn img{
    /* display: flex;
    position: relative;
    justify-content: center;
    align-items: center; */
    position: absolute;
    width: 28px;
    left: 1px;
}


@media screen and (orientation: portrait){
    /* .Topnav {
        padding: 0.5rem;
    } */
    
    .navContainer {
        display: flex;
        justify-content: space-between;
    }
    
    .rightButtons {
        display: flex;
        align-items: center;
    }  
    
    .FlappyBtn,
    .ProfileBtn {
        margin-left: 0.5rem;
    } 
}
